<a href="https://colab.research.google.com/github/Exion007/Colab/blob/main/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd

In [61]:
df = pd.read_csv("movies.csv")
df.head(3)

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Adventure', 'Family', 'Fantasy'...",English,7.5,1861,3935.550,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1121048165,92,NaN

In [62]:
print(f'Number of rows: {df.shape[0]}\nNumber of columns: {df.shape[1]}')

Number of rows: 10000
Number of columns: 14

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10000 non-null  int64
 1   title                 10000 non-null  object
 2   release_date          9979 non-null   object
 3   genres                10000 non-null  object
 4   original_language     10000 non-null  object
 5   vote_average          10000 non-null  float64
 6   vote_count            10000 non-null  int64
 7   popularity            10000 non-null  float64
 8   overview              9923 non-null   object
 9   budget                10000 non-null  int64
 10  production_companies  10000 non-null  object
 11  revenue               10000 non-null  int64
 12  runtime               10000 non-null  int64
 13  tagline               7241 non-null   object
dtypes: float64(2), int64(5), object(7)
memory usage: 1.1+ MB

In [64]:
# Given the id of the film, how to reach its info?
df.loc[493]

id                                                                    155
title                                                     The Dark Knight
release_date                                                   2008-07-14
genres                           ['Drama', 'Action', 'Crime', 'Thriller']
original_language                                                 English
vote_average                                                          8.5
vote_count                                                          29634
popularity                                                         81.582
overview                Batman raises the stakes in his war on crime. ...
budget                                                          185000000
production_companies    ['DC Comics', 'Legendary Pictures', 'Syncopy',...
revenue                                                        1004558444
runtime                                                               152
tagline                                 Welcome to a world without rules.
Name: 493, dtype: object

In [65]:
# How to get the row(s) based on a column value?,

# 1 - df.loc[df['col1'] == value]\n",
# 2 - df.loc[df['col1'].isin([value1, value2, value3, ...])]
# 3 - df.loc[(df['col1'] == value) & (df['col2'] < value)]

#df.loc[df.title == \"The Dark Knight\"]\n",
#df.loc[df[\"title\"].isin([\"Batman Begins\", \"The Dark Knight\", \"The Dark Knight Rises\"])]
df.loc[(df['vote_average'] > 8.5) & (df['runtime'] > 150)]

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
317,238,The Godfather,1972-03-14,"['Drama', 'Crime']",English,8.7,17865,113.216,"Spanning the years 1945 to 1955, a chronicle o...",6000000,"['Paramount', 'Alfran Productions']",245066411,175,An offer you can't refuse.
946,424,Schindler's List,1993-12-15,"['Drama', 'History', 'War']",English,8.6,14028,57.910,The true story of how businessman Oskar Schind...,22000000,['Amblin Entertainment'],321365567,195,"Whoever saves one life, saves the world entire."
966,240,The Godfather Part II,1974-12-20,"['Drama', 'Crime']",English,8.6,10802,55.942,In the continuing saga of the Corleone crime f...,13000000,"['Paramount', 'The Coppola Company']",102600000,202,"I don't feel I have to wipe everybody out, Tom..."
3528,19404,Dilwale Dulhania Le Jayenge,1995-10-19,"['Comedy', 'Drama', 'Romance']",Hindi,8.6,4121,23.413,"Raj is a rich, carefree, happy-go-lucky second...",13200000,['Yash Raj Films'],100000000,190,"Come Fall In love, All Over Again.."
9807,1049767,The Chosen: Season 3 - Episodes 1 & 2,2022-11-18,"['Drama', 'History']",English,10.0,1,11.178,After Jesus completes a sermon that turns the ...,0,['Angel Studios'],0,160,NaN

In [66]:
# How to filter data?

print(f'Before filtering:\nNumber of rows: {df.shape[0]}\nNumber of columns: {df.shape[1]}')

# Delete rows containing "NULL" value using dropna()
newdf = df.dropna()

# Set inplace parameter as True, if you want the filtering operation to be conducted on the original dataframe
df.dropna(inplace = True)

print(f'After filtering:\nNumber of rows: {df.shape[0]}\nNumber of columns: {df.shape[1]}')

Before filtering:
Number of rows: 10000
Number of columns: 14
After filtering:
Number of rows: 7240
Number of columns: 14

In [70]:
# Filtering based on column value

lst = ["id", "title", "vote_average"]

newdf = df.groupby(lst)
newdf.head()

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
3,868759,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,Salt-of-the-earth Cole falls head over heels f...,0,"['Skydance Media', 'Apple Studios']",0,120,Finding that special someone can be a real adv...
4,594767,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,"Billy Batson and his foster siblings, who tran...",125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,Oh. My. Gods.
5,76600,Avatar: The Way of Water,2022-12-14,"['Science Fiction', 'Adventure', 'Action']",English,7.7,7853,2280.912,Set more than a decade after the events of the...,460000000,"['20th Century Studios', 'Lightstorm Entertain...",2319331580,192,Return to Pandora.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,21500,Class,1983-07-22,"['Comedy', 'Drama']",English,5.9,143,10.268,Naive Midwestern prep student Jonathan bonds w...,7000000,['Orion Pictures'],21600000,98,"The good news is, Jonathan's having his first ..."
9990,10748,St. Trinian's,2007-12-21,"['Comedy', 'Family', 'Science Fiction']",English,5.9,418,7.770,When their beloved school is threatened with c...,0,"['Ealing Studios', 'Fragile Films', 'Entertain...",29066681,101,Taking higher education to a new low.
9992,914216,The Lost King,2022-10-07,"['Drama', 'Comedy']",English,6.5,51,11.138,An amateur historian defies the academic estab...,0,"['Baby Cow Productions', 'BBC Film', 'Ingeniou...",0,108,Her story made history.
9993,823461,Good on Paper,2021-06-23,"['Comedy', 'Romance']",English,5.6,265,8.544,After years of putting her career ahead of lov...,0,"['Burn Later Productions', 'Meridian Content',...",0,92,"If he checks all your boxes, check again."
9999,444539,The Bookshop,2017-11-10,['Drama'],English,6.5,382,12.525,"Set in a small English town in 1959, a woman d...",5400000,"['Zephyr Films', 'A Contracorriente Films', 'D...",12055868,110,A town that lacks a bookshop isn't always a to...

In [68]:
# How to group columns?

# You may use both column indices or their names in order to group them.
# You can also create a seperate dataframe which contains only the columns that you selected.
# !! Compared to loc(), iloc() takes indices as parameters

df.iloc[:5,]           # First 5 rows
df.iloc[1:5,]          # Second to Fifth row
df.iloc[5,0]           # Sixth row and 1st column
df.iloc[1:5,0]         # Second to Fifth row, first column
df.iloc[1:5,:5]        # Second to Fifth row, first 5 columns
df2 = df.iloc[2:7,1:3] # Third to Seventh row, 2nd and 3rd column
df2

                              title release_date
3                           Ghosted   2023-04-18
4          Shazam! Fury of the Gods   2023-03-15
5          Avatar: The Way of Water   2022-12-14
6  Guardians of the Galaxy Volume 3   2023-05-03
7                         Scream VI   2023-03-08