<a href="https://colab.research.google.com/github/Exion007/Colab/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sample Training

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("movies.csv")
df.head()

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Adventure', 'Family', 'Fantasy'...",English,7.5,1861,3935.550,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1121048165,92,NaN
3,868759,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,Salt-of-the-earth Cole falls head over heels f...,0,"['Skydance Media', 'Apple Studios']",0,120,Finding that special someone can be a real adv...
4,594767,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,"Billy Batson and his foster siblings, who tran...",125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,Oh. My. Gods.

In [11]:
def seperate_companies(row):
  row = row[2:-2].replace("'","").split(", ")
  return row

df['production_companies'] = df['production_companies'].apply(seperate_companies)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10000 non-null  int64
 1   title                 10000 non-null  object
 2   release_date          9979 non-null   object
 3   genres                10000 non-null  object
 4   original_language     10000 non-null  object
 5   vote_average          10000 non-null  float64
 6   vote_count            10000 non-null  int64
 7   popularity            10000 non-null  float64
 8   overview              9923 non-null   object
 9   budget                10000 non-null  int64
 10  production_companies  10000 non-null  object
 11  revenue               10000 non-null  int64
 12  runtime               10000 non-null  int64
 13  tagline               7241 non-null   object
dtypes: float64(2), int64(5), object(7)
memory usage: 1.1+ MB

In [13]:
to_del = ["original_language", "production_companies", "tagline", "popularity", "overview", "release_date"]
df = df.drop(to_del, axis=1)
df.head()

,id,title,genres,vote_average,vote_count,budget,revenue,runtime
0,758323,The Pope's Exorcist,"['Horror', 'Mystery', 'Thriller']",7.4,619,18000000,65675816,103
1,640146,Ant-Man and the Wasp: Quantumania,"['Action', 'Adventure', 'Science Fiction']",6.6,2294,200000000,464566092,125
2,502356,The Super Mario Bros. Movie,"['Animation', 'Adventure', 'Family', 'Fantasy'...",7.5,1861,100000000,1121048165,92
3,868759,Ghosted,"['Action', 'Comedy', 'Romance']",7.2,652,0,0,120
4,594767,Shazam! Fury of the Gods,"['Action', 'Comedy', 'Fantasy', 'Adventure']",6.8,1510,125000000,133437105,130

In [15]:
df = df[df.budget > 0]
df.shape[0]
df.head()

,id,title,genres,vote_average,vote_count,budget,revenue,runtime
0,758323,The Pope's Exorcist,"['Horror', 'Mystery', 'Thriller']",7.4,619,18000000,65675816,103
1,640146,Ant-Man and the Wasp: Quantumania,"['Action', 'Adventure', 'Science Fiction']",6.6,2294,200000000,464566092,125
2,502356,The Super Mario Bros. Movie,"['Animation', 'Adventure', 'Family', 'Fantasy'...",7.5,1861,100000000,1121048165,92
4,594767,Shazam! Fury of the Gods,"['Action', 'Comedy', 'Fantasy', 'Adventure']",6.8,1510,125000000,133437105,130
5,76600,Avatar: The Way of Water,"['Science Fiction', 'Adventure', 'Action']",7.7,7853,460000000,2319331580,192